- if controller_name != 'sessions'
  = link_to "zaloguj mnie", new_session_path(resource_name)
  %br/
- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to "zarejestruj mnie", new_registration_path(resource_name)
  %br/
-# if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to "zapomniałem hasła", new_password_path(resource_name)
  %br/
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to "nie otrzymałem instrukcji potwierdzenia konta", new_confirmation_path(resource_name)
  %br/
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to "nie otrzymałem instrukcji odblokowania konta", new_unlock_path(resource_name)
  %br/
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to "zaloguj z #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider)
    %br/
%br
%span.text-primary
  kontakt z autorem programu:
  %br
  kom: 608635446
  %br
  email: konrad@snopkow.eu
