= semantic_form_for @rownowaznik do |f|
  = f.inputs do
    = f.input :gatunek
    = f.input :nazwautrzymania
    = f.input :sezon
    = f.input :wartosc
  = f.actions do
    = f.action :submit, :as => :input
