%p#notice= notice

%h1
  .float-right
    = link_to 'nowy', new_rownowaznik_path, class: [:btn, "btn-outline-primary"], role: :button
  Równoważniki

%table.table.table-bordered.table-striped.table-hover.table-searchable
  %thead
    %tr
      %th Gatunek
      %th System utrzymania
      %th Pora roku
      %th Wartość
      %th{:colspan => "2"}
  %tbody
    - @rownowazniki.each do |rownowaznik|
      %tr
        %td= rownowaznik.gatunek.name
        %td= rownowaznik.nazwautrzymania.name
        %td= rownowaznik.sezon.name
        %td= rownowaznik.wartosc
        %td= link_to 'edytuj', edit_rownowaznik_path(rownowaznik), class: [:btn, "btn-outline-primary", "btn-sm"], role: :button
        %td= link_to 'usuń', rownowaznik, method: :delete, data: { confirm: 'Na pewno?' }, class: [:btn, "btn-outline-danger", "btn-sm"], role: :button
