#instrukcja.container
  .row
    .col-sm-12.text-center
      %h1
        Instrukcja do programu <b>nawozowy.pl</b>

      %p.lead
        Dokumentacja ta, w skondensowanej formie, przeprowadzi Ciebie drogi Użytkowniku przez proces sporządzania planu azotowego oraz pełnego planu nawożenia.

      %p.lead
        &nbsp;
        
  .row
    .col-sm-9.js-toc-content
      %h1{id: 'wstep'}
        Wstęp

      %p
        Program nawozowy.pl powstał w pierwszej kolejności w celu umożliwienia sprawnego i bezbłędnego wykonania <b>planów azotowych</b> pracownikom instytucji doradczych. Z czasem dodano do niego moduł wyliczania <b>pełnego planu nawożenia</b>.

      %h2{id: 'wstep-skomplikowanie'}
        profesjonalnie
      %p
        W związku z dużą ilością parametrów, współczynników, warunków, równoważników zawartych w <small><i>Rozporządzeniu Rady Ministrów z dnia 5 czerwca 2018 r. w sprawie przyjęcia "Programu działań mających na celu zmniejszenie zanieczyszczenia wód azotanami pochodzącymi ze źródeł rolniczych oraz zapobieganie dalszemu zanieczyszczeniu"</i></small> oraz co za tym idzie ryzykiem popełnienia błędnych obliczeń podczas liczenia "na piechotę" lub przy pomocy prostego arkusza kalkulacyjnego,  program otrzymał profesjonalną formę aplikacji w modelu MVC (Model View Controller) dostępnej przez przeglądarkę internetową. 

      %h2{id: 'wstep-organizacja'}
        3 warstwy aplikacji
      %p
        Aplikacja zorganizowana jest w 3 warstwy a) baza danych, b) logiczna (backend), c) wizualna (frontend po stronie klienta). Jak każda nowoczesna aplikacja musi być na bieżąco aktualizowana i dostosowywana do zmieniających się warunków (zmiana prawa, wnioski użytkowników). Dzięki jasnej 3 warstwowej strukturze program łatwo rozbudować lub chociażby znaleźć błąd w algorytmach i szybko go naprawić.

      %h2{id: 'wstep-alternatywy'}
        a może arkusz kalkulacyjny?
      %p
        Na rynku dostępnych jest wiele narzędzi, które starają się sprostać lepiej lub gorzej zadaniu sprawnego wyliczenia planów, mowa o narzędziach w formie arkuszy kalkulacyjnych, jednakże tego typu aplikacje nie zapewniają stosownej automatyzacji i parametryzacji jak również możliwości przechowywania w bazie danych informacji z lat poprzednich. Autorzy stosują w swoich arkuszach zbyt daleko idące uproszczenia. A do tego wymagaja od użytkownika dogłębnej wiedzy informatycznej na temat sposóbu działania tego konkretnego skoroszytu. Program nawozowy.pl wymaga jedynie wpisania w jednoznacznie opisane pola, konkretne dane lub wybrania pozycji z kilku dostępnych opcji w polach wyboru.

      %p
        Arkusze kalkulacyjne nie potrafią generować profesjonalnych wydruków. Program nawozowy.pl generuje wydruki w sposób zautomatyzowany. Odpowiednio dzieli dane na kolejne strony i adekwatnie je numeruje. Zlecenia i uprawy ponumerowane są automatycznie. Dzięki takim zabiegom osoba sporządzająca plan nie musi zastanawiać się nad formą wydruków, ani katalogowaniem informacji w dodatkowych rejestrach natomiast koncentruje się na merytorycznej pracy nad konkretnym planem.


      %h1{id: "wymagania"}
        Wymagania
      %p.alert.alert-success
        Program możemy uruchomić na każdej platformie, tj. w komputerze, na tablecie oraz w telefonie komórkowym. Do pracy wymagana jest jedynie nowoczesna przeglądarka internetowa.
      %p.alert.alert-danger
        UWAGA! nawozowy.pl nie będzie działał na przeglądarce Internet Explorer oraz Microsoft Edge! Obsługiwane są natomiast praktycznie wszystkie pozostałe, tj. Mozilla Firefox, Google Chrome, Opera.
      
      %h1{id: "jak-zaczac"}
        Od czego zacząć?
      %p
        Przygodę z programem najlepiej rozpocząć od testowania w wersji demonstracyjnej, która różni się od wersji produkcyjnej jedynie nagłówkiem na wydrukach. Po za tym wszelkie obliczenia będa identyczne z wersją produkcyjną. Aby wejść do programu do wersji demonstracyjnej wystarczy się <b>zarejestrować</b>.
        
      %h1{id: 'rejestracja'}
        Rejestracja do programu

      .alert.alert-danger
        Uwaga! W wersji demonstracyjnej proszę <b>nie podawać</b> prawdziwych danych rolników gdyż te informacje widoczne są dla ogółu osób testujących program.

      %h2{id: 'rejestracja-demo'}
        wersja demonstracyjna

      %ul
        %li
          Testowanie programu rozpoczynamy od rejestracji na stronie: <a href="https://nawozowy.pl/users/sign_up" target="_blank">https://nawozowy.pl/users/sign_up</a>.
        %li
          Podajemy swój <b>adres email</b>, a następnie <b>2 razy hasło</b>.
        %li
          Po zatwierdzeniu przyciskiem <a class="btn btn-sm btn-primary" style="color: white;">zarejestruj mnie</a> program przenosi nas od razu do listy rolników gdzie możemy rozpocząć pracę.

      %p.text-center{style: "border: 1px solid grey; background-color: grey; padding: 20px;"}
        = image_tag "pomoc/instrukcja/zarejestruj.png"
        
          
        
      %h2.text-left{id: 'rejestracja-produkcja'}
        wersja produkcyjna
      %p
        Aby zarejestrować się do wersji pełnej - czyli takiej, w której dostęp do naszych danych posiadają tylko pracownicy naszej instytucji. Jak również na wydrukach widnieje logo naszej firmy oraz jej dane. Rejestrujemy się jak wyżej do wersji DEMO, a następnie mailowo na adres <code>info@nawozowy.pl</code> lub telefonicznie <code>608635446</code> kontaktujemy z właścicielem programu w celu uzyskania odpowiedniego dostępu.
        
      %h1{id: 'logowanie'}
        Logowanie
      %p
        Logowanie do programu odbywa się ze strony <a href="https://nawozowy.pl/users/sign_in" target="_blank">https://nawozowy.pl/users/sign_in</a> niezależnie czy posiadamy dostęp do wersji DEMO czy do pełnej. Po zalogowaniu program przeniesie nas do odpowiedniego obszaru.

      %h1{id: 'rolnicy'}
        Lista Rolników

      %p
        Od razu po rejestracji/logowaniu się program przenosi nas do listy rolników.

      %p.text-center{style: "border: 1px solid grey; background-color: grey; padding: 20px;"}
        = link_to (image_tag "pomoc/instrukcja/listarolnikow.png", style: "width: 100%"), (image_url "pomoc/instrukcja/listarolnikow.png")

      %p
        W tym miejscu możemy wykonać standardowe operacje na danych rolnika:

      %ul
        %li
          %p
            <b>DODAĆ ROLNIKA</b> do bazy &raquo; klikamy po prawej stronie u góry w link <u>"Dodaj Rolnika"</u>.
            Przy próbie wciśnięcia przycisku <a class="btn btn-primary btn-sm" style="color: white;">zapisz</a> program podpowie, które pola są obowiązkowe podświetlając pola tekstowe czerwonym kolorem.
            Pola są opisane jednoznacznymi etykietami. Po zapisaniu na samej górze listy pojawią się dane rolnika. Po ponownym wejściu na listę rolników lub odświeżeniu strony przyciskiem <code>F5</code> lub skrótem klawiszowym <code>CTRL-R</code> nowo dodany rolnik zostanie umieszczony na liście na pozycji wskazanej przez literę jego nazwiska gdyż lista jest sortowana wg nazwisk.
          
          %p.text-center{style: "border: 1px solid grey; background-color: grey; padding: 20px;"}
            = link_to (image_tag "pomoc/instrukcja/dodajrolnika.png", style: "width: 100%"), (image_url "pomoc/instrukcja/dodajrolnika.png")

        %li
          %p
            <b>EDYTUJ DANE ROLNIKA</b> &raquo; w celu edycji danych rolnika, na liście - w wierszu z danymi rolnika - klikamy w przycisk <a style="color: white;" class="btn btn-secondary btn-sm">edytuj</a>. Wyświetli nam się taki sam formularz z polami, który widzielismy podczas dodawania. Wystarczy wprowadzić stosowne korekty i wcisnąć przycisk <a style="color:white;" class="btn btn-primary btn-sm">zapisz</a>.

          %p.text-center{style: "border: 1px solid grey; background-color: grey; padding: 20px;"}
            = link_to (image_tag "pomoc/instrukcja/edytujrolnika.png", style: "width: 100%"), (image_url "pomoc/instrukcja/edytujrolnika.png")
            
        %li
          <b>USUŃ ROLNIKA</b> &raquo; aby usunąć rolnika i <u>wszystkie</u> jego dane (zlecenia, uprawy, etc) wciskamy przycisk <a style="color: white;" class="btn btn-sm btn-danger">usuń</a> i potwierdzamy <a style="color: white;" class="btn btn-sm btn-danger">tak</a>.

      %p
        <b>ZLECENIA</b> &raquo; przycisk <a style="color: white;" class="btn btn-sm btn-primary">zlecenia</a> przenosi nas do listy zleceń danego rolnika - o czym w kolejnym punkcie instrukcji.


      %h1{id: "lista-zlecen"}
        Lista Zleceń

      %p.text-center{style: "border: 1px solid grey; background-color: grey; padding: 20px;"}
        = link_to (image_tag "pomoc/instrukcja/listazlecen.png", style: "width: 100%"), (image_url "pomoc/instrukcja/listazlecen.png")

      Podobnie jak w przypadku listy rolników tak i lista zleceń pozwala na kilka podstawowych operacji:

      %h2{id: "nowe-zlecenie"}
        Nowe Zlecenie
      %p
        &raquo; wciśnięcie linku <u>Nowe Zlecenie</u> w prawym górnym rogu ekranu spowoduje wyświetlenie okna z parametrami zlecenia. Domyślnie wybrane są najczęściej stosowane opcje. Dlatego w wielu wypadkach użytkownikowi pozostanie wciśnięcie przycisku <a class="btn btn-sm btn-primary" style="color:white;">zapisz</a>.

      %p
        Opis poszczególnych pól:
      %dl.row
        %dt.col-sm-3.text-right
          typ
        %dd.col-sm-9
          Wybieramy <i>plan azotowy</i> lub <i>pełny plan nawożenia</i>. Domyślnie wybrany jest <i>plan azotowy</i>. Wybór determinuje rodzaj wydruków i widoczność pól w oknach dotyczących upraw.
        %dt.col-sm-3.text-right
          oznaczenie
        %dd.col-sm-9
          Dowolne oznaczenie zlecenia, domyślnie program wstawia najbliższy czasowo przełom lat - <i>rok gospodarczy</i>.
        %dt.col-sm-3.text-right
          data (<i>data wpływu zlecenia</i>)
        %dd.col-sm-9
          Program pozwala na ręczne wprowadzenie daty wpływu zlecenia. Domyślnie data z bieżącego dnia.
        %dt.col-sm-3.text-right
          rodzaj
        %dd.col-sm-9
          Rodzaj planu - czy jest to wykonanie czy zaopiniowanie. Domyślnie <i>wykonanie</i>.
        %dt.col-sm-3.text-right
          bilans azotu
        %dd.col-sm-9
          Wybieramy opcję <i>pokaż</i> lub <i>nie pokazuj</i> bilans azotu na wydruku planu dla poszczególnych upraw oraz na wydruku głównym.
        %dt.col-sm-3.text-right
          data wydruku
        %dd.col-sm-9
          Pole wyboru pozwala na włączenie kolejnego pola, w którym wskażemy datę wydruków.
        %dt.col-sm-3.text-right
          położenie gospodarstwa
        %dd.col-sm-9
          Domyślnie przepisywane są wszystkie informacje z adresu rolnika (które wcześniej ustawiliśmy podczas dodawania rolnika). Należy dostosować zgodnie z rzeczywistością.
        %dt.col-sm-3.text-right
          uwagi
        %dd.col-sm-9
          Bardzo istotne pole tekstowe gdzie wpisujemy informacje, które zostaną dodane na wydruku głównym w uwagach.

      %p.text-center{style: "border: 1px solid grey; background-color: grey; padding: 20px;"}
        = link_to (image_tag "pomoc/instrukcja/nowezlecenie.png", style: "width: 100%"), (image_url "pomoc/instrukcja/nowezlecenie.png")
          
    .col-sm-3
      %nav.lead.absolute.pa4{style: "position: fixed; margin-top: -30px;"}
        <b>Spis Treści</b>
      %nav.toc.toc-right.js-toc.relative.z-1.transition--300.absolute.pa4{style: "position: fixed"}

    
        
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>
<script>
tocbot.init({
tocSelector: '.js-toc',
contentSelector: '.js-toc-content',
headingSelector: 'h1, h2, h3',
});
</script>
